requests==2.32.4
types-requests
ujson==5.10.0
colorama==0.4.6
types-colorama
websocket-client>=1.6.1
diskcache==5.6.3
diskcache-stubs
typing-extensions
wsaccel>=0.6.3; python_version >= "3.9"
dotenv==0.9.9